body {
  font-family: "Verdana", "Geneva", sans-serif;
  width: 100%;
  margin: 0;
  background: #E5E5E5;
  color: #575757;
  font-size: 17px;
  line-height: 27px;
}

h2 {
  color: #526762;
  font-size: 32px;
  line-height: 42px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 155px;
}

.menu {
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  background-color: #526762;
}

.menu__container {
  max-width: 1200px;
  margin: 0 auto;
}

.menu__logo-project {
  height: 45px;
  margin-top: 8px;
  display: inline;
}

.menu__list {
  list-style: none;
  line-height: 45px;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  float: right;
  margin-left: 85px;
  display: inline;
}

.menu__list li {
  color: #FFFFFF;
  font-size: 16px;
  display: inline;
  padding: 0;
  margin-left: 60px;
  align: right;
}

.header {
  /* position: absolute;*/
  height: 800px;
  left: 0px;
  top: 60px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(mur-amur1111.jpg);
  background-repeat: no-repeat;
}

.header h1 {
  color: #FFFFFF;
  font-size: 55px;
  font-weight: normal;
  padding-top: 240px;
}

.header p {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: lighter;

}

.header button {
  background-color: #B09773;
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
  border: 0;
  height: 50px;
  width: 230px;
  padding: auto;
  margin-top: 85px;
}

.about-project__container {
  padding-top: 100px;
}

.about-project h2 {
  float: left;
  padding-right: 213px;
  padding-bottom: 370px;
}

.exhibits__container {
  padding-top: 130px;
}

.exhibits h2{
  margin-bottom: 44px;
}

.exhibits__item img {
  height: 380px;
  width: 350px;
}

.downloads {
  background-color: #526762;
  color: #FFFFFF;
}

.downloads__container {
  padding-top: 65px;
  padding-bottom: 65px;
}

.downloads .left {
  float: left;
}

.downloads h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;

}

.downloads a {
  font-size: 16px;
  line-height: 24px;

}

.downloads p {
  font-size: 18px;
  line-height: 27px;

}
