body {
  font-family: "Verdana", "Geneva", sans-serif;
  width: 100%;
  margin: 0;
  background: #E5E5E5;
  color: #575757;
  font-size: 17px;
  line-height: 27px;
  font-weight: normal;
}

h2 {
  color: #526762;
  font-size: 32px;
  line-height: 42px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.font-size-small {
  font-size: 15px;
  line-height: 23px;
}

.container {
  padding-left: 155px;
  min-width: 1200px;
}

.menu {
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  background-color: #526762;
}

.menu__container {
  max-width: 1200px;
  margin: 0 auto;
}

.menu__logo-project {
  height: 45px;
  margin-top: 8px;
  display: inline;
}

.menu__list {
  list-style: none;
  line-height: 45px;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  float: right;
  margin-left: 85px;
  display: inline;
}

.menu__list li {
  color: #FFFFFF;
  font-size: 16px;
  display: inline;
  padding: 0;
  margin-left: 60px;
  align: right;
}

.header {
  /* position: absolute;*/
  height: 800px;
  left: 0px;
  top: 60px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(mur-amur1111.jpg);
  background-repeat: no-repeat;
}

.header h1 {
  color: #FFFFFF;
  font-size: 55px;
  font-weight: normal;
  padding-top: 240px;
}

.header p {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: lighter;

}

.header button {
  background-color: #B09773;
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
  border: 0;
  height: 50px;
  width: 230px;
  padding: auto;
  margin-top: 85px;
}

.about-project__container {
  padding-top: 100px;
}

.about-project h2 {
  float: left;
  padding-right: 213px;
  padding-bottom: 370px;
}

.exhibits__container {
  padding-top: 130px;
}

.exhibits h2{
  margin-bottom: 44px;
}

.exhibits__item img {
  height: 380px;
  width: 350px;
}

.exhibits__item .year {
  color: #9A9A9A;
}


.downloads {
  background-color: #526762;
  color: #FFFFFF;
}

.downloads__container {
  padding-top: 65px;
  padding-bottom: 65px;
}

.downloads .left {
  float: left;
  padding-right: 150px;
}

.downloads h3 {
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
}

.downloads p {
  color: #F0F0F0;
  padding-top: 30px;
}

.downloads img {
  height: 20px;
  margin-right: 10px;
}

.members-organisations img {
  height: 200px;
  width: 270px;
}

.members-organisations__container {
  padding-top: 110px;
  padding-bottom: 110px;
}

.members-organisations h2 {
  color: #2D2D2D;
  margin-bottom: 50px;
}

.members-organisations p {
  width: 270px;
}

.members-people {
  color: #FFFFFF;
  background-color: #B09773;
}

.members-people h2 {
  color: #FFFFFF;
  margin-bottom: 50px;
}

.members-people__container {
  padding-top: 90px;
  padding-bottom: 90px;
}

.members-people h3 {
  font-weight: normal;
  color: #F1ECE4;
  font-size: 17px;
  line-height: 27px;
}

.members-people p {
  font-weight: normal;
  color: #DFD3C0;
  font-size: 15px;
  line-height: 23px;
}

.footer {
  background-color: #1F1F1F;
  color: #FFFFFF;
  height: 230px;
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.footer__logo-library {
  height: 100px;
  width: 160px;
  float: left;
  margin-right: 130px;
}

.footer ul {
  list-style: none;
}

.footer__colomn1 {
  float: left;
  margin: 0;
  margin-right: 190px;
}

.footer__colomn1 li {
  margin: 0;
  margin-top: 20px;
  font-size: 13px;
  line-height: 16px;
}

.footer__colomn1 li:first-child {
  margin: 0;
  margin-bottom: 30px;
  font-size: 17px;
}

.footer__colomn2 {
  float: left;
  margin: 0;
  margin-right: 190px;
}

.footer__colomn2 li {
  margin: 0;
  margin-top: 20px;
  font-size: 13px;
  line-height: 16px;
}

.footer__colomn2 li:first-child {
  margin: 0;
  margin-bottom: 30px;
  font-size: 17px;
}
