body {
  font-family: "Verdana", "Geneva", sans-serif;
  width: 100%;
}

.menu {
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  background-color: #526762;
}

.menu__container {
  max-width: 1200px;
  margin: 0 auto;
}

.menu__logo-project {
  height: 45px;
  margin-top: 8px;
  display: inline;
}

.menu__list {
  list-style: none;
  line-height: 45px;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  float: right;
  margin-left: 85px;
  display: inline;
}

.menu__list li {
  color: #FFFFFF;
  font-size: 16px;
  display: inline;
  padding: 0;
  margin-left: 60px;
  align: right;
}

.header {
  /* position: absolute;*/
  height: 800px;
  left: 0px;
  top: 60px;
  padding-top: 240px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(mur-amur1111.jpg);
  background-repeat: no-repeat;
}

.header h1 {
  color: #FFFFFF;
  font-size: 55px;
  font-weight: normal;

  margin-left: 155px;
}

.header p {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: lighter;
  margin-left: 155px;
}

.header button {
  background-color: #B09773;
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
  border: 0;
  height: 50px;
  width: 230px;
  padding: auto;
  margin-top: 85px;
  margin-left: 155px;
}
